<div class="container mt-5">
    <h1 class="text-center">Sobre Nosotros</h1>
    <p class="text-muted text-center px-4">Tu portal confiable para información meteorológica.</p>
  
    <div class="row mt-4">
      <div class="col-md-6 d-flex justify-content-center">
        <img src="assets/clima.jpg" class="img-fluid rounded shadow w-50" alt="Clima">
      </div>
      <div class="col-md-6 px-4">
        <h3>Nuestra Misión</h3>
        <p>Queremos que siempre estés preparado para cualquier cambio en el clima. Por eso, nuestro objetivo es ofrecer información meteorológica confiable y fácil de entender, para que puedas planificar tu día con seguridad y tranquilidad.</p>
        <h3>¿Cómo lo hacemos?</h3>
        <p>Recopilamos datos de fuentes confiables y los actualizamos en tiempo real para brindarte pronósticos precisos. A través de nuestra plataforma, puedes acceder a información detallada sobre temperatura, humedad, viento y otras condiciones climáticas relevantes.</p>
      </div>
    </div>
  </div>
  